#contact {
    padding-top: 50px;
}

.col {
    float: left;
    width: 50%;
}

@media screen and (max-width: 900px) {
    .col {
        width: 100%;
    }
}

#contact::after {
    content: "";
    display: table;
    clear: both;
}
