
#header {
    height: 90vh;
    width: 100%;
    align-content: center;
    padding-top: 50px;
    margin-top: 0;
    background-image: url('../content/night.jpg');
    background-size: cover;
}

#header h1{
    padding-top: 10%;
}