#projects {
    padding-bottom: 50px;
    overflow: hidden;
}

.project-card {
    width: 40%;
    height: 200px;
    display: inline-block;
    margin: 20px;
    color: white;
    box-shadow: 3px 5px 10px #888888;
    z-index: 0;
}

.grow {
    transition: all .2s ease-in-out;
    z-index: 0;
}

.grow:hover {
    transform: scale(1.1);
    z-index: 0;
}

@media screen and (max-width: 900px) {
    .project-card {
        width: 90%
    }
}
